
  .example-header-image {
    background-size: cover;
  }
  
  img {
        height:50px;
        width:50px;
      }
  
  
  #example-card{
        padding: 0 20px;
        
  } 

  .change{
    background-color: #df691a;
  }