<div id="card">
<mat-card>
    <b><h1>Classify a review</h1></b>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div > 
        <mat-form-field style="width: 400px;">
          <input  matInput placeholder="Add Movie Name" [(ngModel)] = "Movie" name = "Movie" #classifyMovie = "ngModel"  required >   
              <mat-error *ngIf="!(classifyMovie.valid || classifyMovie.pristine)">
                Movie Name is required
            </mat-error>                        
              
      </mat-form-field>     
    <br>
        <mat-form-field style="width: 400px;">
            <textarea class="textarea" 
                matInput placeholder="Add review here..."
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"  #classify = "ngModel"  required >   
                <mat-error *ngIf="!(classify.valid || classify.pristine)">
                  Review is required
              </mat-error>                        
            </textarea>      
        </mat-form-field>                   
        <div >
            <button class="btnClassify" mat-raised-button color="primary" [disabled]="!classifyForm.form.valid">Classify</button>
        </div>
      </div>
    </form>
    </mat-card>
  </div>


    