
<div style="color: white; padding: 0 15px;"  *ngIf = "!(reviews$ | async)">Loading...</div>
<div >
  <button  id="addClassifyBtn" mat-raised-button color="primary" routerLink="/classify">Add classify</button>
</div>

<div class="review">
<mat-accordion >
    <!-- article הוא יכול להיות כל שם אחר מגדירים אותו רק בקומפוננט הזה -->
    <mat-expansion-panel *ngFor = "let review of reviews$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b> {{review.movie}}</b>  
          <img src= {{review.didLike}} > 
        </mat-panel-title>
      </mat-expansion-panel-header> 
           {{review.review}} 
    </mat-expansion-panel>
    
</mat-accordion>
</div>