<div style="background-color:   #2b3e50">
    <div class="row" *ngIf="movie">
        <div class="col-md-4 ">
            <div style=" padding: 10px;">
                <img style=" margin: 0;" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt=""
                    class="thumbnail">
                <p>
                    <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block"
                        target="_blank">Visit Movies Website</a>
                </p>
            </div>
        </div>
        <div class="col-md-8 colorWhite ">
            <div class="addpadding">
            <h2>{{movie.title}}
                <small class="label label-warning">
                    {{movie.vote_average}}
                    <i class="glyphicon glyphicon-star"></i>
                </small>
            </h2>
            <p>{{movie.tagline}}</p>

            <p>
                <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-info m-r-md" style="font-weight: lighter;">
                  {{genre.name}}
                </a>
              </p>

            <h3>Overview</h3>
            <p>
                {{movie.overview}}
            </p>
            <div class="row is-flex" *ngIf="cast && cast.length > 0">
                <div class="col-md-12">
                  <h3 class="text-center">Cast</h3>
                </div>
                <div class="col-md-3" *ngFor="let actor of cast">
                  <div class="thumbnail">
                    <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="">
                    <div class="caption">
                      <h6 class="text-center">{{actor.name}}</h6>
                    </div>
                  </div >
                </div>
              </div>
        </div>
       
    </div>
</div>
<div style="padding: 10px;" class="row colorWhite" *ngIf="reviews && reviews.length > 0">
    <div class="col-md-12">
      <h2>Reviews</h2>
    </div>
    <div class="col-md-6" *ngFor="let review of reviews">
      <blockquote>
        <p class="text-justify">{{review.content}}</p>
        <footer>
          <cite title="{{review.author}}"><a href="{{review.url}}" target="_blank">{{review.author}}</a></cite>
        
          <button   id="classifyBtn"  color="primary" (click) = "classifyThisReview(review.content)" mat-raised-button >Classify</button>
      
    </footer>
      
      </blockquote>
    </div>

</div>