#classifyBtn{
margin:  0 30px;
background-color: #df691a;
border-radius: 20px;
line-height: 27px;
padding: 0 17px;
}
#classifyBtn:hover {
    background-color: #df481a;
}

img {
    width: 100%;

}
.addpadding{
    margin: 0 2% 0 0;
}

.m-r-md {
    margin-right: 5px;
}
.colorWhite{
    color: white;
}